//utility
.ls-style {
    list-style: none;
  }

.d-flex {
    display: flex;
}  

.justify-content-between{
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.fl-wrap {
    flex-wrap: wrap;
}

.t-up {
    text-transform: uppercase;
}

.mb {
    margin-bottom: 5px;
}

.alist{
    color: currentColor;
    text-decoration: none;
}